
@{
	ViewData["Title"] = "Index";
}
@model IEnumerable<ProductListViewModel>
<div class="container body-content">
	<table class="table table-bordered table-sm">
		<thead>
			<tr>
				<th>
					@Html.Label("Id")
				</th>
				<th>
					@Html.Label("Ürün")
				</th>
				<th>
					@Html.Label("Açıklama")
				</th>
				<th>
					@Html.Label("Fiyat")
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model)
			{
				<tr>
					<td>@product.Id</td>
					<td>@product.Name</td>
					<td>@product.Description</td>
					<td>@product.Price</td>
					@if (User.IsInRole("Admin"))
					{
						<td><a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Edit</a></td>
					}
					else
					{
						<td><a asp-controller="Order" asp-action="Buy" asp-route-id="@product.Id">Satın Al</a></td>
					}
				</tr>
			}
		</tbody>
	</table>
	<div>
		@if (User.IsInRole("Admin"))
		{
			<a asp-action="Create" class="btn btn-info btn-sm">Ürün Ekle</a>
		}
	</div>
</div>
